<h1 class="dashboard-title">Dashboard for: {{username}}</h1>

{{#each posts as |post|}}
{{> post-box}}
{{/each}}

<div class="text-center my-2">
    <a href="./create-post">
        <button class="btn btn-dark px-5">+ New Post</button>
    </a>
</div>