<div class="recipes-container">
    <div class="box">
        <div class="photo"><img src="{{img}}"</div>
        <div class="info">
            <h1>{{title}}</h1>
            <br><br>
            {{{shortText desc 200}}} {{! has 200 word length, shortText is found under /hbsHelpers.js}}
        </div>
    </div> 
</div>