<div id="homepage">
    <div class="field">
        {{!-- redirect to catalog page --}}
        <a href="/catalog"><button class="button is-size-6 is-ghost has-text-weight-semibold" id="open-book">View Recipes</button></a>
    </div>
</div>