<div class="title">
    <div class="content">
        {{#if_cond email '!=' ''}}
            <h1>Thank you for signing up.</h1>
        {{else}}
            <h1>Unlimited recipes, HD images and more.</h1>
            <h2>Watch anywhere. Prep it up in no time.</h2>
            <form action="/signup" method="post">
                <h3>Ready to drool over your keyboards? Enter your email to create or restart your membership.</h3>
                <div class="email">
                    <input type="email" name="emailInput" placeholder="Email address">
                    <button type="submit">Get Started ></button>
                </div>
            </form>
        {{/if_cond}}
    </div>
</div>

<!-- https://www.makeuseof.com/netflix-style-slider-component-css-and-javascript/ (source for layout)-->

<div class="wrapper">
    <section id="section1">
        <a href="#section3" class="arrow__btn">‹</a>
        <div class="item">
            <a href="/recipe/pizza" class="recipe__btn">
            <img src="https://www.simplyrecipes.com/thmb/h7H8UgA28OOJNGiP_bqXCYONB7o=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/__opt__aboutcom__coeus__resources__content_migration__simply_recipes__uploads__2019__09__easy-pepperoni-pizza-lead-4-82c60893fcad4ade906a8a9f59b8da9d.jpg">
            </a>
        </div>
        <div class="item">
            <a href="/recipe/2" class="recipe__btn">
            <img src="">
            </a>
        </div>
        <div class="item">
            <a href="/recipe/3" class="recipe__btn">
            <img src="">
            </a>
        </div>
        <div class="item">
            <a href="/recipe/4" class="recipe__btn">
            <img src="">
            </a>
        </div>
        <div class="item">
            <a href="/recipe/5" class="recipe__btn">
            <img src="">
            </a>
        </div>
        <a href="#section2" class="arrow__btn">›</a>
    </section>
    <section id="section2">
        <a href="#section1" class="arrow__btn">‹</a>
        <div class="item">
            <a href="/recipe/6" class="recipe__btn">
            <img src="">
            </a>
        </div>
        <div class="item">
            <a href="/recipe/7" class="recipe__btn">
            <img src="">
            </a>
        </div>
        <div class="item">
            <a href="/recipe/8" class="recipe__btn">
            <img src="">
            </a>
        </div>
        <div class="item">
            <a href="/recipe/9" class="recipe__btn">
            <img src="">
            </a>
        </div>
        <div class="item">
            <a href="/recipe/10" class="recipe__btn">
            <img src="">
            </a>
        </div>
        <a href="#section3" class="arrow__btn">›</a>
    </section>
    <section id="section3">
        <a href="#section2" class="arrow__btn">‹</a>
        <div class="item">
            <a href="/recipe/11" class="recipe__btn">
            <img src="">
            </a>
        </div>
        <div class="item">
            <a href="/recipe/12" class="recipe__btn">
            <img src="">
            </a>
        </div>
        <div class="item">
            <a href="/recipe/13" class="recipe__btn">
            <img src="">
            </a>
        </div>
        <div class="item">
            <a href="/recipe/14" class="recipe__btn">
            <img src="">
            </a>
        </div>
        <div class="item">
            <a href="/recipe/15" class="recipe__btn">
            <img src="">
            </a>
        </div>
        <a href="#section1" class="arrow__btn">›</a>
    </section>
</div>