 <!-- Dashboard Section  -->
 <main>
    <section id="dashboard-section">
        <div class="m-3" id="tech_blog_info">
            <div>
            <h4 class="bg-brown custom-primary px-3 py-2">Update Post</h4>
            <form class="update-post-form">
                <div class="px-3">
                    <div class="py-3">
                        <label for="" class="d-block"> Title </label>
                        <input type="text" value="{{title}}" class="w-100 py-1 form-control post-tile" id="post-title" name="post-title" placeholder="Object-Relational Mapping"
                        />
                    </div>

                    <label for="" class="d-block"> Body </label>
                    <textarea
                        class="form-control"
                        id="post-body"
                        name="post-body"
                        rows="3"
                        placeholder="I have really loved learning about ORM's. It's really simplified the way I create queries! "
                    >{{body}}</textarea>

                    <div class="py-3">
                        <button type="submit" class="btn btn-secondary w-100">Update</button>
                    </div>
                </div>
            </form>
        </div>
        </div>
    </section>
</main>

<script src="/js/post-update.js"></script>