<!-- views/random.hbs -->

<form method="POST" action="/form-submit">
  <label for="inputText">Ask AI to come up with a recipe based on these ingredients and/or instructions:</label>
  <textarea id="inputText" name="inputText"></textarea>
  <button type="submit">Ask the Chef!</button>
</form>



<script src="/js/random.js"></script>