
<main>
  <section id="login-section">
    <div class="m-3" id="tech_blog_info">
      <h4 class="bg-brown custom-primary py-2 px-3">Login</h4>

      <form class="form login-form">
        <div class="px-3">
          <div >
            <label for="username-login">
              <h4>Username</h4>
            </label>
            <div style="position: relative;">
            <input type="text" id="username-login" class="form-input w-100 py-1 form-control" />
          </div>

          </div>
          <div class="mt-2">
            <label for="password-login">
              <h4>Password</h4>
            </label>
            <div style="position: relative;">
              <input type="password" id="password-login" class="w-100 py-1 form-control" />
            </div>
            
          </div>
          <div class="my-4">
            <button type= "submit" class="btn btn-secondary w-100 ">Login!</button>
            <div class="mt-2">
              <a href="/signup" id="signup">Sign up instead</a>
            </div>
          </div> 
        </div>
      </form>
      
    </div>
  </section>
</main>

<script src="./js/login.js"></script>
