:root {
  --brown1: #E5D3B3;
  --brown2: #D2B48C;
  --brown3: #B99976;
  --brown4: #987554;
  --brown5: #664229;
  --trans:  #98755400;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: var(--brown1);
  cursor: url("../images/spatula.png") 35 10, auto;
}

header, footer{
  background-color: var(--brown4);
  background-image: url("../images/woodlines.png");
  background-repeat: no-repeat;
  background-size:  100% 200%;
}

.navbar {
  background-color: var(--trans);
}

.navbar-burger {
  color: white;
}

.navbar-link.arrow-head:after, .navbar-divider, .navbar-link {
  border-color: var(--brown5);
}

.navbar-dropdown, .card-content {
  background-color: var(--brown2);
}

.navbar-dropdown .navbar-item, .navbar-dropdown button {
  color: var(--brown5);
}

.navbar-divider {
  background-color: var(--brown5);
}

.navbar-dropdown {
  border: none;
}

a.navbar-item:hover, .navbar-item.has-dropdown:hover .navbar-link, #logout {
  background-color: var(--trans);
  border: none;
}

.navbar-dropdown a.navbar-item:hover {
  background-color: var(--brown1);
  color: var(--brown5);
}

.navbar-menu.is-active {
  background-color: var(--brown5);
}

#homepage {
  width: 100%;
  height: 100%;
  background-image: url("../images/bookcover.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 70%;
}

#open-book {
  color: var(--brown5);
  cursor: url("../images/nextpage.png") 35 10, auto;
  position: absolute;
  padding-top: 25%;
  padding-bottom: 30%;
  top: 10%;
  right: -7%;
}

#recipe-catalog {
  width: 100%;
  height: 100%;
  background-image: url("../images/bookbackground.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 10%;
  padding-bottom: 20%;
}

#recipe-posts {
  text-align: center;
  justify-content: space-evenly;
  position: relative;
}

#pagespacer{
  position: relative;
  height: 1000%;
}

.pagination {
  position: absolute;
  bottom: 5%;
  left: 41%;
}

.pagination-previous {
  color: var(--brown5);
  border: none;
  cursor: url("../images/previouspage.png") 35 10, auto;
  position: absolute;
  bottom: 20%;
  left: 7%;
}

.pagination-next {
  color: var(--brown5);
  border: none;
  cursor: url("../images/nextpage.png") 35 10, auto;
  position: absolute;
  bottom: 20%;
  right: 7%;
}

.pagination-link {
  color: var(--brown5);
  border-color: var(--brown5);
}

.pagination-ellipsis {
  color: var(--brown5)
}

.pagination-link.is-current {
  background-color: var(--brown3);
  border-color: var(--brown5);
}

#login-page {
  margin-bottom: 5%;
}

.card-header, .login-form button, .modal-card-head, #new-recipe-toggle, #random-recipe-toggle, .file-name, .modal-card-subhead {
  background-color: var(--brown4);
  border: none;
}

.login-buttons {
  display: flex;
  justify-content: space-between;
}

#login, #signup, #new-recipe, #random-recipe {
  cursor: url("../images/bowl.png") 40 40, auto;
  border: none;
}

.login-buttons .js-modal-trigger {
  color: var(--brown5);
  background-color: var(--trans);
  border: none;
  /* cursor: alias; */
}

.modal-card-body {
  background-color: var(--brown1);
  padding:0;
}

.signup-buttons, .new-recipe-buttons, .ai-recipe-buttons {
  display: flex;
  justify-content: space-between;
  background-color: var(--brown3);
  border: none;
}

.modal .label, .field button, #my-kitchen .title, #my-kitchen .subtitle, #my-favorites .title, #my-favorites .subtitle {
  color: var(--brown5);
}

#my-kitchen, #my-favorites {
  padding-bottom: 10%;
}

#my-kitchen .card, #my-favorites .card, #search-page .card {
  background-color: var(--brown2);
}

.my-kitchen-header {
  display: flex;
  justify-content: space-between;
}

#delete-recipe, #delete-favorite {
  color: var(--brown5);
  cursor: url("../images/trashcan.png") 35 10, auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

.box {
  height: 50px; 
  width: 50px;
  background-color: var(--trans);
  /* background-image: url("../images/unfilledstar.png"); */
  background-repeat: no-repeat;
  background-size: 50px;
  box-shadow: none;
  position: absolute;
  margin: 2%;
  top: 0;
  right: 0;
}

.box:hover {
  /* background-image: url("../images/filledstar.png"); */
  cursor: pointer;
}

#catalog-image {
  object-fit: cover;
  width: 300px;
  height: 300px;
}

.random-recipe-button {
  background-color: var(--brown3);
  width: 100%;
  text-align: center;
}

.search-bar input {
  width: 60%;
}