/* define main colors */
:root {
  --brown1: #E5D3B3;
  --brown2: #D2B48C;
  --brown3: #B99976;
  --brown4: #987554;
  --brown5: #664229;
  --trans:  #98755400;
}

/* viewport size/background and default custom cursor */
html, body {
  width: 100%;
  height: 100%;
  background-color: var(--brown1);
  cursor: url("../images/spatula.png") 35 10, auto;
}

header, footer{
  background-color: var(--brown4);
  background-image: url("../images/woodlines.png");
  background-repeat: no-repeat;
  background-size:  100% 200%;
}

.navbar, a.navbar-item:hover, .navbar-item.has-dropdown:hover .navbar-link, #logout {
  background-color: var(--trans);
  border: none;
}

.navbar-burger {
  color: white;
}

.navbar-link.arrow-head:after, .navbar-divider, .navbar-link {
  border-color: var(--brown5);
}

.navbar-dropdown, .card-content, #my-kitchen .card, #my-favorites .card, #search-page .card {
  background-color: var(--brown2);
}

.navbar-dropdown .navbar-item, .navbar-dropdown button, .pagination-ellipsis, .modal .label, .field button, 
#my-kitchen .title, #my-kitchen .subtitle, #my-favorites .title, #my-favorites .subtitle, #recipe-icons {
  color: var(--brown5);
}

.navbar-divider, .navbar-menu.is-active {
  background-color: var(--brown5);
}

.navbar-dropdown {
  border: none;
}

.navbar-dropdown a.navbar-item:hover {
  background-color: var(--brown1);
  color: var(--brown5);
}

/* homepage background and size */
#homepage {
  width: 100%;
  height: 100%;
  background-image: url("../images/bookcover.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-bottom: 70%;
}

/* open book button to catalog page from homepage */
#open-book {
  color: var(--brown5);
  cursor: url("../images/nextpage.png") 35 10, auto;
  position: absolute;
  padding-top: 25%;
  padding-bottom: 30%;
  top: 10%;
  right: -7%;
}

/* catalog page size and background */
#recipe-catalog {
  width: 100%;
  height: 100%;
  background-image: url("../images/bookbackground.png");
  background-size: 100%;
  background-repeat: no-repeat;
  padding-top: 10%;
  padding-bottom: 20%;
}

#recipe-posts {
  text-align: center;
  justify-content: space-evenly;
  position: relative;
}

/* page navigation buttons and display */
.pagination {
  position: absolute;
  bottom: 5%;
  left: 41%;
}

.pagination-previous {
  color: var(--brown5);
  border: none;
  cursor: url("../images/previouspage.png") 35 10, auto;
  position: absolute;
  bottom: 20%;
  left: 7%;
}

.pagination-next {
  color: var(--brown5);
  border: none;
  cursor: url("../images/nextpage.png") 35 10, auto;
  position: absolute;
  bottom: 20%;
  right: 7%;
}

.pagination-link {
  color: var(--brown5);
  border-color: var(--brown5);
  pointer-events: none;
}

.pagination-link.is-current {
  background-color: var(--brown3);
  border-color: var(--brown5);
}

#login-page {
  margin-bottom: 5%;
}

.card-header, .login-form button, .modal-card-head, #new-recipe-toggle, #random-recipe-toggle, .file-name, .modal-card-subhead {
  background-color: var(--brown4);
  border: none;
}

.login-buttons, .my-kitchen-header, #file-input {
  display: flex;
  justify-content: space-between;
}

/* custom button cursors */
#login, #signup, #new-recipe, #random-recipe, #update-recipe {
  cursor: url("../images/bowl.png") 40 40, auto;
  border: none;
}

.login-buttons .js-modal-trigger {
  color: var(--brown5);
  background-color: var(--trans);
  border: none;
  cursor: alias;
}

.modal-card-body {
  background-color: var(--brown1);
  padding:0;
}

.signup-buttons, .new-recipe-buttons, .ai-recipe-buttons, .modify-recipe-buttons {
  display: flex;
  justify-content: space-between;
  background-color: var(--brown3);
  border: none;
}

#my-kitchen, #my-favorites {
  padding-bottom: 10%;
}

/* custom delete cursor */
#delete-recipe, #delete-favorite {
  color: var(--brown5);
  cursor: url("../images/trashcan.png") 35 10, auto;
  position: absolute;
  bottom: 0;
  right: 0;
}

#modify-recipe {
  color: var(--brown5);
  position: absolute;
  bottom: 0;
  left: 245px;
}

#modify-recipe2 {
  color: var(--brown5);
  position: absolute;
  top: 0;
  right: 75px;
}

.box {
  height: 50px; 
  width: 50px;
  background-color: var(--trans);
  background-repeat: no-repeat;
  background-size: 50px;
  box-shadow: none;
  position: absolute;
  margin: 2%;
  top: 0;
  right: 0;
}

.box:hover {
  cursor: pointer;
}

.random-recipe-button {
  background-color: var(--brown3);
  width: 100%;
  text-align: center;
}

.search-bar input {
  width: 60%;
}

#modify-dish {
  color: var(--brown5);
  position: absolute;
  top: 0;
  right: 75px;
}

.recipe-login-cta {
 text-align: right;
 font-size: large; 
}

.icon-image {
  height: 85px;
  padding: 10px;
  margin-right: 6px;
  border: 1px solid var(--brown4);
}

#default-icons {
  display: none;
  border-top: 5px solid var(--brown4);
}